{% extends "base.html" %}

{% block body_content %}

<header class="masthead">

	<div class="row py-3 justify-content-center">
		<div class="bg-white col-10 col-lg-6 rounded">
			<h3 class="text-primary mt-3 text-center"> Mentions légales </h3>
			<hr class="divider my-4"/>
			<p>Template : <a href="https://startbootstrap.com/theme/creative">Creative (Boostrap)</a>.</p>
			<p>Les données (images, nom, informations) des aliments proviennent de l'API <a href="https://fr.openfoodfacts.org/">OpenFoodFacts</a>.</p>
			<p>Les autres images utilisée (page d'acceuil) sont la propriété de ©Disney</p>
			<p> Photo de fond par Kawin Harasai disponible <a href="https://unsplash.com/photos/k60JspcBwKE">ici</a>.</p>
			<p> Toute les autres ressources sont libres de droits. </p>
			<p> Site crée par <a href="https://github.com/tristantr"> Tristan TR </a> et hébergé sur Heroku. </p>
		</div>
	</div>
</header>
{% endblock %}