{% extends "base.html" %}

{% load custom_tags %}

{% block body_content %}

<header class="masthead">


	<div class="container">
		<div class="row">
			<div class=" col-12 bg-primary text-white rounded py-2 text-center">  {{ category.name }} </div>
		</div>
		<div class="row">
			{% for product in products %}
			<div class="col-12 col-xl-4 bg-white rounded my-1 border product-component">
				{% display_product product=product %}
			</div>
			{% endfor %}
		</div>
		{% if products.has_previous %}
		<a href="?page={{products.previous_page_number}}" class="btn bg-white" role="button">Précédant</a>
		{% endif %}
		{% if products.has_next %}
		<a href="?page={{products.next_page_number}}" class="btn bg-white" role="button">Suivant</a>
		{% endif %}	 
	</div>	


</header>

{% endblock %}