{% load custom_tags %}
{% load static %}

<div class="container">
	<img class="card_image my-2"src="{{ product.image }}">
	<div class="row mt-4 mx-2">
		<span class="font-weight-bold"> Nom :</span> {{ product.name }}
	</div>
	<div class="row mx-2">	
		<span class="font-weight-bold"> Marque :</span> {{ product.brand }}
	</div>
	<div class="row align-items-center my-3">
		<div class="col-6">
			<a href="{{ product.get_product_details }}" class="btn btn-outline-primary" role="button">Fiche Produit</a>
		</div>

		<div class="col-3">
			<img class="nutriscore" src="{% static product.nutriscore %}" alt="nutriscore">
		</div>

		{% if logged_user %}
		<div class="col-3" id="favorite-section">
			{% csrf_token %}
			<form method="post" action="{% url 'fav' %}" class="fav-form">
				{% if product.is_favorite %}
				<button type="submit" class="btn"  id="{{product.id}}">
					<span name="fav" class="fas fa-heart fa-lg" id="{{product.id}}"></span>
				</button>	
				{% else %}
				<button type="submit" class="btn"  id={{product.id}}>
					<span name="fav" class="far fa-heart fa-lg" id="{{product.id}}"></span>
				</button>	
				{% endif %}
			</form>	
		</div>
		{% endif %}					
	</div>
</div>